<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Indonesia Restaurant The Best" />
    <title>Indonesia Restaurant</title>
  </head>

  <body>
    <a href="#mainContent" class="skip-link">Menuju ke konten</a>
    <app-bar></app-bar>

    <jumbotran-element></jumbotran-element>

    <main id="mainContent">
    </main>

    <footer-element></footer-element>
  </body>

</html>